//variables
//fonts
$font: 'Futura PT', Arial, sans-serif;

//colors
$bg: #ffffff;
$grey6: #cccccc;
$red: #eb5757;
$grey4: #e0e0e0;
$blue: #268be9;
$grey5: #f2f2f2;
$grey3: #bdbdbd;
$y: #fd8f10;
$blue-light: #8ba3c3;
$grey2: #828282;
$grey7: #f6f6f6;
$y3: #ffc444;
$y2: #ffe922;
$menu: #031c33;
$grey: #4f4f4f;
$dark: #0f3642;
$text: #112e49;

//another
$font-size: 18px;

//layout
@import "layout/mixins";
@import "layout/fonts";
@import "layout/smart-grid";
@import "layout/adjustment";
@import "layout/common";

//sections
@import "sections/header";
@import "sections/form";
@import "sections/channels";
@import "sections/mmenu";
@import "sections/banner";
@import "sections/index";
@import "sections/flat";
@import "sections/tv";
@import "sections/equip";
@import "sections/news";
@import "sections/contacts";
@import "sections/footer";

.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}