extends ../main

block variables
    - var title = 'Главная'
    - var banner = {enable: false, bread: true};
    - var feed = true;

block content
    .news.new
        .container
            .row.news__row
                main.news__main.new__main
                    h1.new__title Как правильно измерить скорость?
                    .new__content.content
                        p Компания «Радиус-NET» рекомендует использовать данный алгоритм для измерения скорости вашего интернет-соединения. В случае возникновения вопросов можете позвонить нам в офис или написать в группу вконтакте.
                        ol
                            li Убедитесь в отсутствии на компьютере вирусов. Они могут использовать Ваш компьютер для спам-рассылок, для заражения других компьютеров или для атак серверов. Всё это может существенно замедлять интернет. Регулярно проверяйте компьютер антивирусом!
                            li Отключите все антивирусы, файерволы, торрент клиенты и вообще все сетевые программы.
                            li Обратите внимание на сетевую активность – правой клик мыши на сетевом подключении – “Состояние”. Если число принятых или отправленных пакетов активно увеличивается, у Вас либо вирус, либо работает какая нибудь сетевая программа. Проделайте снова пункты 1 и 2.
                            li Если у Вас несколько компьютеров выходят в интернет через роутер, отключите все, кроме одного. Если соединение настроено на роутере, лучше исключить роутер, а подключаться напрямую с компьютера.
                            li Обычно сайты,с которых мы качаем файлы, ограничивают скорость, особенно файлообменники. Опираться на такие данные не следует. Важно: При скачивании файлов браузеры, программы-качалки и торрент-клиенты обычно показывают скорость не в Битах а в Байтах. Поэтому умножайте на 8 для перевода в Биты. Например файл закачался со скорость 124Кбайта/с, что соответствует 1000 Кбит/с или 1 Мбиту.
                            li
                                |Используйте специальные сервисы для измерения скорости.
                                br
                                a(href='http://speedtest.net') Speedtest.net&nbsp;
                                | позволяет мерить скорость до разных серверов, обязательно этим пользуйтесь.
                            li Воспользуйтесь torrent для определения скорости. Скачайте торрент файл с большим числом раздающих. Это самый надёжный способ измерить высокую скорость интернет соединения. Проверьте — в Байтах или Битах/с показывает скорость и при необходимости переведите в Биты.
                        button(type='button').jsCall Участвовать в акции
                    .new__nav
                        a(href='/new.html').new__prev.new__arr
                            span.new__arr-svg.
                                <svg width="15" height="21" viewBox="0 0 15 21" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.16228 10.6442L13.6698 17.8918C14.0093 18.1834 14.222 18.6007 14.2613 19.0523C14.3006 19.5039 14.1632 19.953 13.8792 20.3012C13.5953 20.6495 13.1879 20.8685 12.7463 20.9104C12.3048 20.9522 11.865 20.8134 11.5233 20.5245L1.47135 11.9606C1.28287 11.7996 1.13126 11.5983 1.02722 11.3708C0.923186 11.1434 0.869264 10.8953 0.869264 10.6443C0.869265 10.3932 0.923186 10.1451 1.02722 9.91767C1.13126 9.69021 1.28287 9.48888 1.47135 9.32789L11.5233 0.764067C11.8648 0.473705 12.3052 0.333828 12.7475 0.375162C13.1899 0.416495 13.5981 0.635655 13.8826 0.984503C14.167 1.33335 14.3043 1.78335 14.2644 2.23566C14.2245 2.68797 14.0106 3.10559 13.6698 3.39679L5.16228 10.6442Z"/>
                                </svg>
                            span.new__arr-txt Предыдущая новость

                        a(href='/new.html').new__next.new__arr
                            span.new__arr-txt.new__arr-txt_next Слдеующая новость
                            span.new__arr-svg.
                                <svg width="15" height="21" viewBox="0 0 15 21" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.83772 10.3558L1.33024 3.10822C0.990672 2.81662 0.777965 2.39933 0.738703 1.94773C0.699442 1.49614 0.836825 1.04703 1.12077 0.698774C1.40471 0.350515 1.81208 0.131482 2.25365 0.0896406C2.69523 0.0477988 3.13503 0.186558 3.47674 0.475533L13.5287 9.03939C13.7171 9.20038 13.8687 9.40171 13.9728 9.62917C14.0768 9.85662 14.1307 10.1047 14.1307 10.3557C14.1307 10.6068 14.0768 10.8549 13.9728 11.0823C13.8687 11.3098 13.7171 11.5111 13.5287 11.6721L3.47674 20.2359C3.13518 20.5263 2.69485 20.6662 2.25248 20.6248C1.81011 20.5835 1.40187 20.3643 1.11745 20.0155C0.83303 19.6667 0.695682 19.2166 0.735582 18.7643C0.775481 18.312 0.989365 17.8944 1.33025 17.6032L9.83772 10.3558Z" />
                                </svg>

                aside.news__aside
                    .news__block
                        +nblock


















