extends ../main

block variables
    - var title = 'Главная'
    - var banner = {enable: false, bread: true};
    - var feed = true;

block content
    .news
        .container
            h1.news__title Новости
            .row
                main.news__main
                    .news__list
                        each i,x in news
                            a(href='new.html').news__item
                                span.news__left
                                    +image('images/content/news/'+(x+1)+'.jpg','news__img')
                                span.news__right
                                    span.news__date 21.06.2020
                                    span.news__name= i.title
                                    span.news__txt= i.txt
                    .news__pag
                        .pag
                            a(href='/').pag__prev.pag__arr.
                                <svg width="15" height="21" viewBox="0 0 15 21" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.16228 10.6442L13.6698 17.8918C14.0093 18.1834 14.222 18.6007 14.2613 19.0523C14.3006 19.5039 14.1632 19.953 13.8792 20.3012C13.5953 20.6495 13.1879 20.8685 12.7463 20.9104C12.3048 20.9522 11.865 20.8134 11.5233 20.5245L1.47135 11.9606C1.28287 11.7996 1.13126 11.5983 1.02722 11.3708C0.923186 11.1434 0.869264 10.8953 0.869264 10.6443C0.869265 10.3932 0.923186 10.1451 1.02722 9.91767C1.13126 9.69021 1.28287 9.48888 1.47135 9.32789L11.5233 0.764067C11.8648 0.473705 12.3052 0.333828 12.7475 0.375162C13.1899 0.416495 13.5981 0.635655 13.8826 0.984503C14.167 1.33335 14.3043 1.78335 14.2644 2.23566C14.2245 2.68797 14.0106 3.10559 13.6698 3.39679L5.16228 10.6442Z" />
                                </svg>
                            .pag__list
                                a(href='/').pag__item.active 1
                                a(href='/').pag__item 2
                                a(href='/').pag__item 3
                                a(href='/').pag__item ...
                                a(href='/').pag__item 5
                            a(href='/').pag__next.pag__arr.
                                <svg width="15" height="21" viewBox="0 0 15 21" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.83772 10.3558L1.33024 3.10822C0.990672 2.81662 0.777965 2.39933 0.738703 1.94773C0.699442 1.49614 0.836825 1.04703 1.12077 0.698774C1.40471 0.350515 1.81208 0.131482 2.25365 0.0896406C2.69523 0.0477988 3.13503 0.186558 3.47674 0.475533L13.5287 9.03939C13.7171 9.20038 13.8687 9.40171 13.9728 9.62917C14.0768 9.85662 14.1307 10.1047 14.1307 10.3557C14.1307 10.6068 14.0768 10.8549 13.9728 11.0823C13.8687 11.3098 13.7171 11.5111 13.5287 11.6721L3.47674 20.2359C3.13518 20.5263 2.69485 20.6662 2.25248 20.6248C1.81011 20.5835 1.40187 20.3643 1.11745 20.0155C0.83303 19.6667 0.695682 19.2166 0.735582 18.7643C0.775481 18.312 0.989365 17.8944 1.33025 17.6032L9.83772 10.3558Z"/>
                                </svg>


                aside.news__aside
                    .news__block
                        .nblock
                            .nblock__title
                                | Интернет
                                br
                                | для частного дома
                            .nblock__img
                                +image('images/content/news/img.png','nblock__img-img')
                            a(href='#').nblock__btn.btn2
                                span.btn2__layer
                                span.btn2__txt Подключить




















