//variables
$vh: 1080;

@mixin tr(){
  transition: .3s;
}

@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@mixin content() {

  >* {
    &:first-child {
      margin-top: 0;
    }
  }

  h1,h2,h3,h4,h5,h6,p {
    margin: 40px 0;
    @include lg-block{
      margin: 30px 0;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }

  ul {
    margin: 40px 0 40px 25px;

    li {
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        background-color: $blue;
        border-radius: 50%;
        margin-right: 15px;
        line-height: inherit;
        position: relative;
        top: -2px;
      }

      ol {
        margin-bottom: 10px;
        margin-top: 10px;
        counter-reset: li;

        li {
          &:before {
            counter-increment: li;
            content: counters(li, ".") ". ";
            margin-right: 10px;
            display: inline-block;
            width: auto;
            height: auto;
            background: none;
            top: 0;
          }
        }
      }

      ul {
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }

  ol {
    margin: 40px 0 40px 25px;
    counter-reset: li;

    li {
      &:before {
        color: $blue;
        counter-increment: li;
        content: counters(li, ".") ". ";
        margin-right: 10px;
        display: inline-block;
      }

      ul {
        margin-bottom: 10px;
        margin-top: 10px;
        counter-reset: none;

        li {
          &:before {
            content: '';
          }
        }
      }

      ol{
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }

  }

  a{
    color: $blue;
    text-decoration: underline;
    @include tr;

    &:hover{
      color: $y;
    }
  }

  table {
    margin-bottom: 40px;
    width: 100%;
    border-collapse: collapse;

    tr{
      &:nth-child(even){
        background-color: $grey4;
      }
    }

    th{
      color: $bg;
      background-color: $text;
    }

    td {
      border: none;
      padding: 15px 25px;
      font-size: 16px;
    }
  }

}

@mixin headers() {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 25px;
  }
  h6 {
    font-size: 0.75rem;
  }
}

@mixin demi(){
  font-family: "Futura PT Demi";
  font-weight: 500;
}