.index {

}

.islider {
  padding-top: 100px;
  padding-bottom: 80px;
  border-top: 1px solid $grey6;

  @include lg-block {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include sm-block {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &_tabs {
    padding-bottom: 0;
  }

  &__top {
    text-align: center;

    &-row {
      @include row-flex;
      align-items: center;
      text-align: left;
      margin-bottom: 65px;
      @include lg-block {
        margin-bottom: 55px;
      }
      @include sm-block {
        margin-bottom: 45px;
      }
    }

    &-left {
      @include col;
      @include size(10);
      @include size-lg(12);
      @include size-sm(24);
      @include sm-block {
        text-align: center;
        margin-bottom: 25px;
      }
    }

    &-right {
      @include col;
      @include size(14);
      @include size-lg(12);
      @include size-sm(24);
    }
  }

  &__title {
    color: $text;
    font-size: 50px;
    @include demi;
    line-height: lh(50, 51.85);
    @include lg-block {
      font-size: 35px;
    }
    @include sm-block {
      font-size: 24px;
    }

    &_y {
      background: linear-gradient(90deg, $y 0%, $y2 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $y;
    }

    &_s {
      font-size: 40px;

      @include lg-block {
        font-size: 28px;
      }
      @include sm-block {
        font-size: 20px;
      }
    }
  }

  &__sub {
    font-size: 20px;
    color: $grey2;
    margin-bottom: 55px;
    margin-top: 30px;
    @include lg-block {
      font-size: 18px;
      margin-bottom: 35px;
      margin-top: 25px;
    }
    @include sm-block {
      font-size: 16px;
      margin-bottom: 30px;
      margin-top: 10px;
    }

    a {
      color: $y;
      text-decoration: underline;
      @include tr;

      &:hover {
        color: $blue;
      }
    }

  }

  &__txt {

  }

  &__tabs {
    border-top: 1px solid $grey6;
    margin-top: 160px;
    @include lg-block {
      margin-top: 120px;
    }
    @include sm-block {
      margin-top: 100px;
    }
  }

  &__row {
    margin-bottom: 40px;
    @include sm-block {
      margin-bottom: 20px;
    }
  }

  &__left {
    @include col;
    @include size(6);
    @include size-sm(24);
    @include sm-block {
      margin-bottom: 20px;
    }
  }

  &__right {
    @include col;
    @include size(18);
    position: relative;
    @include size-sm(24);
  }

  &__arr {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 1px solid $grey6;
    background-color: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -30px;
    outline: none;

    @include lg-block {
      width: 30px;
      height: 30px;
      margin-top: -15px;
    }

    &.swiper-button-disabled {
      opacity: .2;

      &:hover {
        background-color: $bg;
      }
    }

    &.swiper-button-lock {
      display: none;
    }

    &:hover {
      background-color: $y3;
    }

    svg {
      @include lg-block {
        width: 8px;
        height: 12px;
      }
    }
  }

  &__prev {
    left: -30px;
    @include lg-block {
      left: -15px;
    }
    @include sm-block {
      left: -10px;
    }
  }

  &__next {
    right: -30px;
    @include lg-block {
      right: -15px;
    }
    @include sm-block {
      right: -10px;
    }
  }

  &__note {
    max-width: 828px;
    color: $grey2;
    margin-left: 25px;
    @include lg-block {
      margin-left: 0;
    }
  }

}

@mixin pd() {
  padding: 28px 28px 40px 28px;
  @include lg-block {
    padding: 15px 10px;
  }
}

@mixin action() {
  width: 99px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  @include demi;
  text-transform: uppercase;
  @include lg-block {
    width: 67px;
    height: 20px;
    font-size: 12px;
  }
}

.itsaction {
  background-image: url("../images/content/index/tariffs/bg.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  //background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  @include pd;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include lg-block {
    border-radius: 10px;
  }
  @include sm-block {
    padding: 25px 60px;
    background-image: url(../images/icons/rounds.svg);
    background-position: center 50px;
    background-size: cover;
  }


  &__action {
    @include action;
    background-color: rgba($bg, .1);
    color: $bg;
    @include sm-block {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin: auto 0;
    font-size: 26px;
    color: $bg;
    @include lg-block {
      font-size: 14px;
    }
    @include sm-block {
      margin-bottom: 20px;
    }

    b {
      color: $y3;
      font-weight: 700;
    }

  }

  &__sub {
    color: $bg;
    font-size: 16px;
    @include lg-block {
      font-size: 12px;
    }
  }

  &__prices {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 40px;
    @include lg-block {
      margin-bottom: 20px;
    }


    &-price {
      font-size: 20px;
      font-weight: 700;
      color: $bg;
      margin-right: 5px;
      @include lg-block {
        font-size: 14px;
      }
    }

    &-oldprice {
      font-size: 16px;
      color: $red;
      text-decoration: line-through;
      @include lg-block {
        font-size: 14px;
      }
    }
  }

  &__link {
    color: rgba($grey4, .5);
    font-size: 16px;
    text-decoration: underline;
    @include tr;
    @include lg-block {
      font-size: 12px;
    }

    &:hover {
      color: $y;
    }
  }


}

.itariff {
  border-radius: 20px;
  border: 1px solid $grey6;
  background-color: $grey7;
  overflow: hidden;
  @include pd;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  @include lg-block {
    border-radius: 10px;
    text-align: center;
  }

  &_w {
    background-color: $bg;
  }

  &__action {
    @include action;
    border: 1px solid $y;
    color: $y;
    margin-bottom: 20px;
    align-self: flex-start;
    @include lg-block {
      margin-bottom: 5px;
    }
  }

  &__title {
    font-size: 26px;
    margin-bottom: 15px;
    @include demi ;
    @include lg-block {
      font-size: 18px;
    }
  }

  &__graph {
    position: relative;
    margin-bottom: 25px;
    @include lg-block {
      margin-bottom: 5px;
    }
  }

  &__circle {
    transform: rotate(-90deg);
    @include lg-block {
      width: 78px;
      height: 78px;
    }


    &-1 {
      stroke-width: 1px;
      stroke: $grey3;
      fill: none;
    }

    &-2 {
      stroke-width: 6px;
      stroke: $y;
      fill: none;
      stroke-dasharray: 0 339px;
      @include lg-block {
        stroke-width: 4px;
      }
    }
  }

  &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    font-family: 'Futura PT Demi';
    font-weight: 500;
    margin-bottom: 10px;

    &-top {
      font-size: 20px;
      margin-bottom: 14px;
      @include lg-block {
        font-size: 12px;
        margin-bottom: 5px;
      }
    }

    &-center {
      font-size: 45px;
      margin-bottom: 15px;
      @include lg-block {
        font-size: 24px;
        margin-bottom: 0;
      }
    }

    &-bottom {
      font-size: 16px;
      @include lg-block {
        font-size: 12px;
      }
    }
  }

  &__price {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: auto;
    @include demi;
    @include lg-block {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }

  &__note {
    color: $grey2;
    font-size: 16px;
    margin-bottom: 20px;
    @include lg-block {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  &__btn {
    max-width: 100%;
    width: 173px;
    height: 50px;
    font-size: 16px;
    text-transform: none;
    border-color: $y;
    color: $y;
    @include lg-block {
      width: 103px;
      height: 30px;
      font-size: 12px;
    }

    &:hover {
      background-color: $y;
      color: $bg;
    }
  }


}

.ipromo {
  background-color: #112643;
  padding-bottom: 100px;
  @include lg-block {
    padding-bottom: 60px;
  }
  @include sm-block {
    padding-bottom: 50px;
  }

  &__img {
    position: relative;

    picture {
      display: block;
    }

    &-img {
      width: 100%;
    }
  }

  &__scene {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include sm-block {
      display: none;
    }
  }

  &__console {
    width: 16.7vw;
    position: absolute !important;
    bottom: 7% !important;
    left: 15% !important;
    right: initial !important;
    top: initial !important;
  }

  &__controller {
    width: 16.7vw;
    position: absolute !important;
    bottom: 17% !important;
    right: 15% !important;
    left: initial !important;
    top: initial !important;

  }

  &__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include lg-block {
      top: 16%;
      bottom: 15%;
    }
    @include sm-block {
      bottom: 17%;
    }
  }

  &__title {
    color: $bg;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    @include lg-block {
      font-size: 35px;
    }
    @include sm-block {
      font-size: 24px;
    }

    &-svg {
      position: absolute;
      bottom: -10px;
      right: -90px;
      @include lg-block {
        right: -55px;
      }
      @include sm-block {
        right: -37px;
      }

      svg {
        @include lg-block {
          width: 109px;
          height: 93px;
        }
        @include sm-block {
          width: 74px;
          height: 64px;
        }
      }
    }
  }

  &__price {
    color: $bg;
    font-size: 60px;
    font-weight: 700;
    @include lg-block {
      font-size: 30px;
    }
    @include sm-block {
      font-size: 24px;
    }
  }

  &__sub {
    color: $blue-light;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    @include lg-block {
      font-size: 20px;
    }
    @include sm-block {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    width: 326px;
    height: 60px;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
    @include lg-block {
      width: 286px;
      height: 55px;
    }
    @include sm-block {
      margin-bottom: 30px;
      width: 266px;
      height: 48px;
    }
  }

  &__note {
    padding: 0 40px;
    color: $blue-light;
    font-weight: 300;
    text-align: center;
    @include lg-block {
      padding: 0;
    }
    @include sm-block {
      font-size: 14px;
    }
  }
}

.ipacks {
  padding-top: 150px;
  padding-bottom: 140px;
  background: url("../images/content/index/packs/bg.jpg") 0 0 no-repeat;
  background-size: cover;
  @include lg-block {
    padding-top: 85px;
    padding-bottom: 110px;
  }
  @include sm-block {
    background-color: #0c1726;
    background-image: none;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  &__title {
    font-family: 'Futura PT Demi';
    font-weight: 500;
    font-size: 40px;
    color: $bg;
    text-align: center;
    margin-bottom: 60px;
    @include lg-block {
      font-size: 35px;
      margin-bottom: 40px;
    }
    @include sm-block {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  &__item {
    @include col;
    @include size(6);
    @include size-sm(12);
    @include sm-block {
      margin-bottom: 10px;
    }
  }
}

.ipack {
  border-radius: 20px;
  background-color: #132846;
  overflow: hidden;
  height: 392px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 20px;
  color: $blue-light;
  @include tr;
  @include lg-block {
    border-radius: 10px;
    padding: 35px 10px;
    height: 241px;
  }

  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    background-color: #182f4f;
  }

  &_w {
    background-color: $grey7;
    color: $text;
    border: 1px solid $grey6;
    @include lg-block {
      border: none;
    }

    &:hover {
      background-color: $grey7;
    }

    .ipack {
      &__link {
        &:hover {
          .ipack {
            &__link {
              &-price {
                color: $text;
              }
            }
          }
        }
      }
    }
  }

  &_exc {
    background-image: url("../images/content/index/tariffs/bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: $dark;
    padding-top: 50px;
    padding-bottom: 50px;
    color: $blue-light;
    @include lg-block {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &:hover {
      background-color: #184857;
    }

    .ipack {
      &__link {
        &:hover {
          .ipack {
            &__link {
              &-price {
                color: $bg !important;
              }
            }
          }
        }
      }
    }
  }

  &__title {
    font-size: 26px;
    @include demi;
    text-align: center;
    @include lg-block {
      font-size: 18px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

    &:hover {
      .ipack {
        &__link {
          &-price {
            color: $bg;
          }

          &-link {
            color: $y3;
          }
        }
      }
    }

    &-price {
      font-size: 30px;
      font-weight: 500;
      @include tr;
      @include lg-block {
        font-size: 18px;
      }
    }

    &-link {
      font-family: "Futura PT Demi";
      font-size: 20px;
      font-weight: 500;
      text-decoration: underline;
      @include tr;
      @include lg-block {
        font-size: 16px;
      }

    }
  }

  &__sub {
    color: $y3;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto;
    @include lg-block {
      font-size: 12px;
    }
  }

  &__btn {
    max-width: 100%;
  }
}

.idops {
  background-image: url(../images/content/index/dops/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 170px;
  @include lg-block {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @include sm-block {
    padding-top: 65px;
    padding-bottom: 50px;
    background-image: none;
    background-color: $menu;
  }

  &__title {
    color: $bg;
    @include demi;
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
    @include lg-block {
      font-size: 35px;
    }
    @include sm-block {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  &__item {
    @include col;
    @include size(6);
    margin-bottom: 20px;
    @include size-sm(12);
    @include sm-block {
      margin-bottom: 10px;
    }
  }
}

.idop {
  border-radius: 20px;
  background-color: $grey7;
  overflow: hidden;
  @include lg-block {
    border-radius: 10px;
    text-align: center;
  }

  &__top {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: (178/280*100%);
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__bottom {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include lg-block {
      padding: 20px 10px;
    }
  }

  &__title {
    font-size: 24px;
    @include demi;
    margin-bottom: 15px;
    @include lg-block {
      font-size: 16px;
      margin-bottom: 13px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @include demi;
    text-align: center;
    @include lg-block {
      margin-bottom: 15px;
    }

    &:hover {
      .idop__link {
        &-link {
          color: $y;
        }
      }
    }

    &-price {
      font-size: 30px;
      @include tr;
      @include lg-block {
        font-size: 18px;
      }
    }

    &-link {
      font-size: 20px;
      text-decoration: underline;
      @include tr;
      @include lg-block {
        font-size: 18px;
      }
    }
  }


}

.ifeed {
  background: url("/images/content/index/feed/bg.jpg") 0 0 no-repeat;
  background-size: cover;
  padding: 110px 0;
  @include lg-block {
    padding: 60px 0;
    background-image: url("/images/content/index/feed/bg-t.jpg");
  }
  @include sm-block {
    padding-top: 210px;
    padding-bottom: 100px;
    background-size: contain;
  }

  &__form {
    @include col;
    @include shift-left(14);
    @include size(10);
    align-items: stretch;
    max-width: 100%;
    @include size-lg(12);
    @include shift-lg-left(12);
    @include size-sm(24);
    @include shift-sm-left(0);
  }

  &__btn {
    margin: 0 auto;
  }
}

.iabout {
  padding-top: 100px;
  padding-bottom: 50px;
  @include lg-block {
    padding-top: 60px;
    padding-bottom: 0;
  }
  @include sm-block {
    padding-bottom: 35px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    @include lg-block {
      @include row-flex;
    }
  }

  &__col {
    width: calc(50% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    @include lg-block {
      @include col;
    }
    @include size-lg(12);
    @include size-sm(24);

    &:nth-child(1) {
      @include sm-block {
        order: 1;
      }

    }

    &:nth-child(2) {
      .iabout {
        &__top {
          @include sm-block {
            margin-bottom: 0;
            margin-top: 30px;
            order: 1;
          }

        }
      }
    }

    @include sm-block {
      margin-bottom: 35px;
    }
  }

  &__top {
    margin-bottom: 50px;
    width: 100%;
  }

  &__bottom {
    width: 100%;
  }

  &__img {
    border-radius: 20px;
    overflow: hidden;
    display: block;

    img {
      display: block;
      width: 100%;
    }
  }

  &__title {
    font-size: 34px;
    font-weight: 400;
    line-height: 103.7%;
    @include demi;
    margin-bottom: 30px;
    @include lg-block {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    margin-top: 25px;

    @include lg-block {
      font-size: 20px;
    }
    @include sm-block {
      font-size: 16px;
    }
  }

}

.itabs {
  position: relative;

  &__sws {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    @include sm-block {
      justify-content: space-between;
    }
  }

  &__sw {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    margin-right: 20px;
    height: 60px;
    border-radius: 10px 10px 0 0;
    border: 1px solid $grey6;
    background-color: $grey5;
    font-size: 20px;
    @include demi;
    @include tr;
    @include sm-block {
      margin-right: 0;
      width: calc(100% / 3 - 10px);
      height: 47px;
      font-size: 14px;
      padding: 5px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.active {
      height: 77px;
      background-color: $bg;
      border-bottom-color: $bg;
      @include sm-block {
        height: 47px;
      }
    }

  }

  &__title {
    display: flex;
    align-items: center;
    height: 60px;
    @include lg-block {
      display: none;
    }

    &-txt {
      color: $grey2;
      margin-left: 20px;
    }
  }

  &__tab {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    padding: 75px 0;
    opacity: 0;
    @include lg-block {
      padding: 50px 0;
    }
    @include sm-block {
      padding: 35px 0;
    }

    &.active {
      position: relative;
      z-index: 10;
      opacity: 1;
    }
  }

}