.mmenu {
  position: fixed;
  z-index: 1000;
  max-width: 360px;
  width: 100%;
  background-color: $menu;
  top: 0;
  bottom: 0;
  box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: none;

  @include tr;
  @include lg-block {
    left: -400px;
    display: block;
  }
  @include sm-block {
    max-width: 100%;
    left: -100%;
    box-shadow: none;
  }

  &.active {
    @include lg-block {
      left: 0;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #13131d;
    position: relative;
    z-index: 20;
  }

  &__wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: -600px;
    width: 100%;
    background-color: #13131d;
    display: flex;
    flex-direction: column;
    @include tr;

    &.active {
      right: 0;
    }
  }

  &__top {
    background-color: $text;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px;

    &-left {
      display: flex;
      align-items: center;
    }
  }

  &__arrow {
    padding: 5px 0;
    margin-right: 20px;

    svg {
      display: block;
    }
  }

  &__close{
    display: block;
    svg{
      width: 14px;
      height: 14px;
      fill: $grey6;
      display: block;
    }
  }

  &__title {
    color: $bg;
    font-weight: 500;
    font-size: 24px;
  }

  &__lk {
    color: $y;
    fill: $y;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;

    &-svg {
      margin-right: 10px;

      svg {

      }
    }

    &-txt {

    }
  }

  &__bottom {
    flex-grow: 1;
    overflow: hidden auto;
    padding-bottom: 30px;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: rgba($y, .5);
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -5px;
    margin-right: -5px;
    //margin-bottom: 12px;
    //margin-top: 30px;
    padding: 30px 10px 10px 10px;
  }

  &__tel {
    color: $blue-light;
    font-size: 16px;
    margin: 0 5px;
    @include demi;
    text-decoration: underline;
  }

  &__btn {
    display: flex;
    align-items: center;
    color: $blue-light;
    font-size: 16px;
    text-decoration: underline;
    margin-left: 5px;
    margin-right: 5px;

    &-svg {
      margin-right: 5px;

      svg {
        display: block;
      }
    }

    &-txt {

    }
  }

  &__addr {
    text-align: center;
    color: $blue-light;
    font-size: 16px;
    margin-bottom: 25px;
  }

  &__list {

  }

  &__item {
    border-top: 1px solid rgba($blue-light, .1);

    &:last-child {
      border-bottom: 1px solid rgba($blue-light, .1);
    }
  }

  &__link {
    display: block;
    padding: 14px 20px;
    position: relative;
    color: $bg;
    font-size: 18px;
    @include demi;

    &_arr {
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent $bg;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: 20px;
      }
    }


    &-txt {
      font-weight: 500;
    }

    &-svg {
      width: 5px;
      height: 8px;
      margin-left: 15px;
    }
  }

}