-
    var nav = [
        {
            title: 'Интернет',
            link: '/',
            sub: [
                {
                    title: 'В квартиру',
                    link: '/flat.html'
                },
                {
                    title: 'В частный дом',
                    link: '/cottage.html'
                },
                {
                    title: 'В офис',
                    link: '/office.html'
                },

            ]
        },
        {
            title: 'Интерактивное ТВ',
            link: '/tv.html',
        },
        {
            title: 'Оборудование',
            link: '/',
        },
        {
            title: 'Новости',
            link: '/',
        },
        {
            title: 'Акции',
            link: '/',
        },
        {
            title: 'Помощь',
            link: '/',
        },
        {
            title: 'Контакты',
            link: '/',
        },

    ];

-
    var footerNav = [
        {
            itemDopCls: '',
            list: [
                {
                    title: 'ИНТЕРНЕТ В ЧАСТНЫЙ ДОМ',
                    link: '/'
                },
                {
                    title: 'ИНТЕРНЕТ В КВАРТИРУ',
                    link: '/'
                },
                {
                    title: 'Интернет в офис',
                    link: '/'
                },
                {
                    title: 'Интерактивное ТВ',
                    link: '/'
                },
                {
                    title: 'АКЦИИ',
                    link: '/'
                },

            ]
        },
        {
            itemDopCls: 'footer__item_grey',
            list: [
                {
                    title: 'СПРАВОЧНИК АБОНЕНТА',
                    link: '/'
                },
                {
                    title: 'РАБОТЫ НА СЕТИ',
                    link: '/'
                },
                {
                    title: 'ПРОВЕРИТЬ СКОРОСТЬ',
                    link: '/'
                },
                {
                    title: 'ОБОРУДОВАНИЕ',
                    link: '/'
                },
                {
                    title: 'КАК ОПЛАТИТЬ?',
                    link: '/'
                },
                {
                    title: 'ПОМОЩЬ',
                    link: '/'
                }
            ]
        },
        {
            itemDopCls: 'footer__item_grey',
            list: [
                {
                    title: 'О КОМПАНИИ',
                    link: '/'
                },
                {
                    title: 'НОВОСТИ',
                    link: '/'
                },
                {
                    title: 'КОНТАКТЫ',
                    link: '/'
                }
            ]
        },

    ];

-
    var tariffList = [
        {
            title:'Лайт',
            percent: '25',
            style: 'background-color: #f6f6f6;',
            info: {
                top:'до',
                center:'2',
                bottom:'мбит/с'
            },
            price: '500 руб/мес',
            note: '*с 4 месяца 800 руб /мес'
        },
        {
            title:'Стандарт',
            percent: '50',
            style: 'background-color: #f6f6f6;',
            info: {
                top:'до',
                center:'4',
                bottom:'мбит/с'
            },
            price: '550 руб/мес',
            note: '*с 4 месяца 1100 руб /мес'
        },
        {
            title:'Комфорт',
            percent: '75',
            style: 'background-color: #f6f6f6;',
            info: {
                top:'до',
                center:'10',
                bottom:'мбит/с'
            },
            price: '550 руб/мес',
            note: '*с 4 месяца 1600 руб /мес'
        }
    ];

-
    var sliderList = [
        {
            title:'Особый 2',
            percent: '25',
            style: 'background-color: #ffffff;',
            info: {
                top:'до',
                center:'2',
                bottom:'мбит/с'
            },
            price: '500 руб/мес',
            note: '*с 4 месяца 800 руб /мес'
        },
        {
            title:'Особый 5',
            percent: '50',
            style: 'background-color: #ffffff;',
            info: {
                top:'до',
                center:'4',
                bottom:'мбит/с'
            },
            price: '550 руб/мес',
            note: '*с 4 месяца 1100 руб /мес'
        },
        {
            title:'Особый 10',
            percent: '75',
            style: 'background-color: #ffffff;',
            info: {
                top:'до',
                center:'10',
                bottom:'мбит/с'
            },
            price: '550 руб/мес',
            note: '*с 4 месяца 1600 руб /мес'
        },
        {
            title:'Особый 2',
            percent: '25',
            style: 'background-color: #ffffff;',
            info: {
                top:'до',
                center:'2',
                bottom:'мбит/с'
            },
            price: '500 руб/мес',
            note: '*с 4 месяца 800 руб /мес'
        },
        {
            title:'Особый 5',
            percent: '50',
            style: 'background-color: #ffffff;',
            info: {
                top:'до',
                center:'4',
                bottom:'мбит/с'
            },
            price: '550 руб/мес',
            note: '*с 4 месяца 1100 руб /мес'
        },
        {
            title:'Особый 10',
            percent: '75',
            style: 'background-color: #ffffff;',
            info: {
                top:'до',
                center:'10',
                bottom:'мбит/с'
            },
            price: '550 руб/мес',
            note: '*с 4 месяца 1600 руб /мес'
        },

    ];

-
    var packs = [
        {
            title: 'Стандарт',
            price: '199 руб/мес',
            link: '200 каналов',
            id: 1
        },
        {
            title: 'Оптима',
            price: '449 руб/мес',
            link: '250 каналов',
            id: 1
        },
        {
            title: 'Эксклюзив',
            price: '749 руб/мес',
            link: '275 каналов',
            id: 1
        },
        {
            style: 'background-color: #0f3642;',
            cls: 'ipack_exc',
            title: 'Эксклюзив <span class="y">+ КИНО</span>',
            price: '999 руб/мес',
            link: '280 каналов',
            sub: '+IVI +START +MEGOGO +AMEDIATEKA',
            id: 2
        }
    ];

-
    var dops = [
        {
            src: 'images/content/index/dops/1.jpg',
            title: 'Настрой кино',
            id: 3
        },
        {
            src: 'images/content/index/dops/2.jpg',
            title: 'Матч! Премьер',
            id: 3
        },
        {
            src: 'images/content/index/dops/3.jpg',
            title: 'Ночной',
            id: 3
        },
        {
            src: 'images/content/index/dops/4.jpg',
            title: 'Матч! Футбол',
            id: 3
        },
        {
            src: 'images/content/index/dops/5.jpg',
            title: 'Дождь',
            id: 3
        },
        {
            src: 'images/content/index/dops/6.jpg',
            title: 'Шант премиум',
            id: 3
        },
        {
            src: 'images/content/index/dops/7.jpg',
            title: '1 доп просмотр',
            id: 3
        },
        {
            src: 'images/content/index/dops/8.jpg',
            title: '2 доп просмотра',
            id: 3
        },

    ];

-
    var fdops = [
        {
            img: 'images/content/dops/1.svg',
            title: 'Настройка <br> Wi-Fi роутера',
            price: '300 руб.'
        },
        {
            img: 'images/content/dops/2.svg',
            title: 'Выезд специалиста',
            sub: 'для устранения неисправности (если авария по вине клиента)',
            price: '450 руб.'
        },
        {
            img: 'images/content/dops/3.svg',
            title: 'Перенос оборудования <br> на другой адрес ',
            price: '1 500 руб.'
        },
        {
            img: 'images/content/dops/4.svg',
            title: 'Статический <br> IP адрес',
            price: '200 руб/мес'
        },

    ];

-
    var fcities = [
        'г.Улан-Удэ',
        'п.Нижние Тальцы',
        'Левый берег',
        'ДНТ «Победа»',
        'СНТ «Облепиха»',
        'Серебряный берег',
        'Мкр-н. Сосновый',
        'п.Онохой',
        'СНТ «Надежда» 5',
        'ДНТ «Загородная резиденция»',
        'СНТ «Строитель»',
        'СНТ «Трикотажник»',
        '502 км',
        'п.Дабата',
        'ДНТ «Янтарное»',
        'ДНТ «Звезда»',
        'СНТ «Пищевик»',
        'п.Усть-Брянь',
        'п.Комушка',
        'п.Эрхирик',
        'СНТ «Восход»',
        'СНТ «Дымок»',
        'СНТ «Металлист»',
        'ДНТ «Урда-Уула»',
        'п.Сотниково',
        'п.Стеклозавод',
        'СНТ «Талецкий»',
        'СНТ «Ручеек»',
        'СНТ «Сибиряк»',
        'СНТ «Тепловик»',
        'п.Восточный',
        'п.Тодогто',
        'ДНТ «Яруна»',
        'СНТ «Сад-16»',
        'СНТ «Профсоюзник»',
        'п.Верхняя Берёзовка',
        'п.Мясокомбинат',
        'ст.Дивизионная',
        'КС «Талецкий»',
        'ДНТ «Надежда»',
        'СНТ и ДНТ по Заиграевскому тракту'
    ];

-
    var fstreets = [
        {
            city: 'г. Улан-Удэ',
            link: '/',
            list: [
                'пр.Строителей 42',
                'пр.Строителей 46',
                'ул.Батожабая 6',
                'ул.Батожабая 9',
                'ул.Воронежская 2',
                'ул.Воронежская 3',
                'ул.Воронежская 6'
            ]
        },
        {
            city: 'п.Онохой',
            link: '/',
            list: [
                'пр.Строителей 42',
                'пр.Строителей 46',
                'ул.Батожабая 6',
                'ул.Батожабая 9',
                'ул.Воронежская 2',
                'ул.Воронежская 3',
                'ул.Воронежская 6'
            ]
        },
        {
            city: 'п.Усть-Брянь',
            link: '/',
            list: [
                'д.13',
                'д.14',
                'д.19',
                'д. 20',
                'д. 22',
                'д. 24',
                'д. 25'
            ]
        },

    ];

-
    var tvadvs = [
        {
            img: 'images/content/tv/advantages/1.svg',
            title: 'Беспроводной <br> способ подключения',
            txt: 'Подходит любой Интернет'
        },
        {
            img: 'images/content/tv/advantages/2.svg',
            title: 'Планируйте свой досу',
            txt: 'Электронная программа телепередач'
        },
        {
            img: 'images/content/tv/advantages/3.svg',
            title: 'Управляйте эфиром',
            txt: 'Перемотка, пауза и продолжение просмотра на любых устройствах'
        },
        {
            img: 'images/content/tv/advantages/4.svg',
            title: 'Смотрите в записи',
            txt: 'Архив программы передач каждого канала в записи до 7 дней'
        },
        {
            img: 'images/content/tv/advantages/5.svg',
            title: 'Пользуйтесь где угодно',
            txt: 'Дома, на работе или в дороге на любом устройстве'
        },
        {
            img: 'images/content/tv/advantages/6.svg',
            title: 'Не платите лишнего!',
            txt: 'Разные телеканалы на 3х экранах, в рамках одной абонентской платы'
        }
    ];
-
    var tvpacks = [
        {
            cls: 'ipack_w',
            title: 'Стандарт',
            price: '199 руб/мес',
            link: '200 каналов',
            id: 1
        },
        {
            cls: 'ipack_w',
            title: 'Оптима',
            price: '449 руб/мес',
            link: '250 каналов',
            id: 1
        },
        {
            cls: 'ipack_w',
            title: 'Эксклюзив',
            price: '749 руб/мес',
            link: '275 каналов',
            id: 1
        },
        {
            style: 'background-color: #112E49;',
            cls: 'ipack_exc',
            title: 'Эксклюзив <span class="y">+ КИНО</span>',
            price: '999 руб/мес',
            link: '280 каналов',
            sub: '+IVI +START +MEGOGO +AMEDIATEKA',
            id: 2
        }
    ];

-
    var equip = [
        {
            title: 'Wi-Fi роутер TENDA N301',
            txt: 'Стандарты Wi-Fi: 802.11 b/g/n <br> Диапазон частот Wi-Fi модуля: 2.4 ГГц <br> Количество LAN портов: 3 <br> Базовая скорость передачи данных: 100 Мбит/сек',
            price: '1500 рублей',
            time: '150 руб/мес'
        },
        {
            title: 'IPTV приставка Vermax UHD',
            txt: 'USB2.0 + Ethernet + SD карт ридер Android 7.1 <br> Quad Core Cortex-A53 1.5GHz совместно c Mali-450 Penta Core GPU',
            price: '4000 рублей',
            time: '350 руб/мес'
        },
        {
            title: 'АБОНЕНТСКИЙ МАРШРУТИЗАТОР ONT NTU-RG-1402G-W',
            txt: '1 порт GPON <br> Гигабитный роутер <br> Порты FXS для подключения  телефонов <br> Порт USB 2.0 с функцией сетевого накопителя',
            note: 'Для оптических сетей GPON предоставляется только в аренду',
            rent: '50 руб/мес'
        },
        {
            title: 'Смотрешка BOX (SB-213)',
            txt: 'Android медиаплеер без жесткого диска <br> Wi-Fi или кабель RJ-45 <br> поддержка 1080p (Full HD)\n',
            price: '4000 рублей',
            time: '350 руб/мес'
        },
        {
            title: 'ТВ-ПРИСТАВКА NV-711',
            txt: 'Чипсет Amlogic S905X <br> Архитектура ARM v8 4xCortex A53 <br> 2D/3D ускорители, поддержка OpenGL',
            price: '4000 рублей',
            time: '350 руб/мес'
        }
    ];